<mat-card class="card mat-elevation-z10">
  <mat-card-header>
    <mat-form-field>
      <input matInput type="text" placeholder="Search a super hero name..." (ngModel)="name" />
      <button
        type="submit"
        mat-button
        matSuffix
        mat-icon-button
        aria-label="Clear"
        (click)="searchHeroByName(name)"
      >
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </mat-card-header>
  <mat-card-header>
    <mat-card-title>{{hero.Name}}</mat-card-title>
  </mat-card-header>
  <img
    mat-card-image
    src={{hero.Image}}
    alt="Photo of a Hero"
  />
  <mat-card-content>
    <div>
      <h3>Gender: </h3>
      <p>{{hero.Appearance.Gender}}</p>
    </div>

    <div>
      <h3>Race: </h3>
      <p>{{hero.Appearance.Race}}</p>
    </div>
    <div>
      <h3>Height: </h3>
      <p>{{hero.Appearance.Height}}</p>
    </div>
    <div>
      <h3>Weight: </h3>
      <p>{{hero.Appearance.Weight}}</p>
    </div>

    <div>
      <h3>Intelligence: </h3>
      <p>{{hero.PowerStats.Intelligence}}</p>
    </div>
    <div>
      <h3>Strength: </h3>
      <p>{{hero.PowerStats.Strength}}</p>
    </div>
    <div>
      <h3>Speed: </h3>
      <p>{{hero.PowerStats.Speed}}</p>
    </div>
    <div>
      <h3>Durability: </h3>
      <p>{{hero.PowerStats.Durability}}</p>
    </div>
    <div>
      <h3>Power: </h3>
      <p>{{hero.PowerStats.Power}}</p>
    </div>
    <div>
      <h3>Combat: </h3>
      <p>{{hero.PowerStats.Combat}}</p>
    </div>
  </mat-card-content>
</mat-card>
