.card {
  max-width: 400px;
  margin: auto;
  margin-top: 40px;
  margin-left: 40px;
  margin-right: 40px;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}


mat-form-field {
  display: flex;
  flex-direction: column;
  width: 80%;

}

mat-card-header {
  place-content: center;
}

mat-card-content {
  border: 1px solid;
  border-radius: 7px;
  padding: 10px;
  margin: -10px;

  div {
    display: flex;
    p {
      margin-top: 18px;
      margin-left: auto;
    }
  }
}
